.dark-mode {
  background-color: black;
  color: white;
}

.rwb-mode {
  background-color: blue;
  color: red;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.get-data {
  text-align: center;
}

.soccer-players-card{
  align-items: center;
  justify-content: center;
}

.dark-mode-setup {
  padding: 2%;
}

.dark-mode-button {
  color: red;
  background-color: white;
  border-radius: 10px;
}

.dark-mode-button:hover {
    color: white;
    background-color: red;
}

.rwb-mode-button {
  color: white;
  background-color: blue;
  border-radius: 10px;
}

.rwb-mode .usa {
  color: white;
}

.rwb-mode-button:hover {
  color: blue;
  background-color: white;
}
