.dark-mode {
  background-color: black;
  color: white;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.get-data {
  text-align: center;
}

.soccer-players-card{
  align-items: center;
  justify-content: center;
}